/*移动端公用的css*/
.lt_container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
}
.lt_container .lt_header{
    width: 100%;
    height: 45px;
    position: fixed;
    background: #006699;
    line-height: 45px;
    z-index: 999;
}
.lt_container .lt_header a{
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    color: #fff;
    text-align: center;
}
.lt_container .lt_header a.left{
    left: 0;
}
.lt_container .lt_header a.right{
    right: 0;
}
.lt_container .lt_header h3{
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin: 0;
    line-height: 45px;
    font-size: 18px;
}
.lt_container .lt_body{
    width: 100%;
    height: 100%;
    padding: 45px 0 55px 0;
}
.lt_container .lt_body .lt_content{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.lt_container .lt_footer{
    width: 100%;
    height: 55px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #006699;
    z-index: 999;
}
.lt_container .lt_footer a{
    width: 25%;
    float: left;
    color: #fff;
    text-align: center;
    padding-top: 6px;
}
.lt_container .lt_footer a p{
    color: #fff;
    font-size: 12px;
}

/*首页的样式*/
.lt_nav{
    width: 100%;
    padding: 0 10px;
    margin-top:10px;
}
.lt_nav a{
    float: left;
    width: 33.33%;
}
.lt_nav a img{
    display: block;
    width: 100%;
}

.lt_product{
    margin-top:10px;
    padding: 0 10px;
}
.lt_product ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lt_product ul li{
    width: 50%;
    float: left;
    padding-right:5px;
    padding-left:0;
    margin-bottom:10px;
}
.lt_product ul li:nth-child(2n){
    padding-right:0;
    padding-left:5px;
}
.lt_product ul li a{
    width: 100%;
    display: block;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    text-align: center;
}
.lt_product ul li a img{
    display: block;
    width: 100%;
}
.lt_product ul li a .name{
    padding: 0 5px;
    color: #555;
    text-align: left;
}
.lt_product ul li a .price{
    font-size: 12px;
}
.lt_product ul li a .price span:first-child{
    color: #f30;
}
.lt_product ul li a .price span:last-child{
    color: #999;
    text-decoration: line-through;
}
.lt_product ul li a button{
    margin-bottom:10px;
    background: #006699;
    color: #fff;
    border-color: #006699;
}
/*分类的样式*/
.lt_cateLeft{
    width: 90px;
    height: 100%;
    float: left;
}
.lt_cateLeft ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.lt_cateLeft ul li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f3f4f5;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.lt_cateLeft ul li a{
    color: #333;
    display: block;
}
.lt_cateLeft ul li.now{
    border-right:none;
    background: #fff;
}
.lt_cateLeft ul li.now a{
    color: #f30;
}
.lt_cateRight{
    overflow: hidden;
    height: 100%;
}
.lt_cateRight ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.lt_cateRight ul li{
    width: 33.33%;
    float: left;
    padding-top: 10px;
}
.lt_cateRight ul li.nd{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    color: #666;
}
.lt_cateRight ul li a{
    display: block;
}
.lt_cateRight ul li a img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}
.lt_cateRight ul li a p{
    text-align: center;
    font-size: 12px;
}
/*搜索页面*/
.lt_search{
    padding: 10px;
    position: relative;
}
.lt_search input{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    background: #fff;
    border: 1px solid #006699;
    font-size: 12px;
    padding: 0 60px 0 10px;
    border-radius: 2px;
    margin-bottom:0;
}
.lt_search a{
    color: #fff;
    width: 60px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #006699;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    /*4个角的圆角样式*/
    /*border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;*/
    border-radius: 0 2px 2px 0;
}

.lt_history{
    font-size: 12px;
    color: #666;
    padding: 0 10px;
}
.lt_history .tit{
    height: 30px;
    position: relative;
}
.lt_history .tit h3{
    font-size: 12px;
    line-height: 30px;
    margin: 0;
    font-weight: normal;
}
.lt_history .tit a{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    color: #666;
}
.lt_history ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px dashed #ccc;
    border-bottom: none;
}
.lt_history ul li{
    border-bottom: 1px dashed #ccc;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.lt_history ul li span{
    float: right;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

/*商品列表页*/
.lt_order{
    height: 30px;
    line-height: 30px;
    background: #f3f4f5;
}
.lt_order a{
    width: 25%;
    float: left;
    font-size: 12px;
    text-align: center;
    color: #333;
}
.lt_order a.now{
    color: #ff3300;
}

/*商品详情页面*/
.pro_name{
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.pro_name p{
    height: 42px;
    width: 100%;
    overflow: hidden;
    margin-bottom:0;
    font-size: 20px;
    color: #333;
}
.pro_price{
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.pro_price .nowPrice{
    font-size: 24px;
    color: #ff3300;
}
.pro_price .oldPrice{
    color: #888;
    text-decoration: line-through;
}
.pro_size{
    padding: 10px;
    font-size: 14px;
    padding-bottom:0;
    border-bottom: 1px solid #eee;
}
.pro_size .btn_size{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    line-height: 30px;
    text-align: center;
    margin-bottom:10px;
}
.pro_size .btn_size.now{
    background: #ff3300;
}

.pro_num{
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.pro_num .change{
    width: 92px;
    height: 32px;
    border: 1px solid #ccc;
    line-height: 30px;
    display: inline-block;
}
.pro_num .change span{
    width: 28px;
    height: 30px;
    display: inline-block;
    text-align: center;
}
.pro_num .change input{
    border: none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    line-height: 30px;
    height: 30px;
    width: 32px;
    text-align: center;
    padding: 0;
    border-radius: 0;
}
.pro_num .overPlus{
    display: inline-block;
}

.lt_trade{
    height: 55px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #e6e6e6;
    border-top: 1px solid #ccc;
    padding-right: 10px;
}
.lt_trade .cart{
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #333;
    float: left;
}
.lt_trade .btn{
    overflow: hidden;
}
.lt_trade .btn a{
    width: 49%;
    height: 44px;
    margin-top:5px;
    float: left;
    color: #fff;
    border-radius: 2px;
    line-height: 44px;
    text-align: center;
}
.lt_trade .btn .addCart{
    margin-right:2%;
    background: #991020;
}
.lt_trade .btn .buy{
    background: #fa672d;
}
/*登录页*/
.lt_btn{
    padding: 10px;
}
.lt_btn .mui-btn{
    width: 100%;
}

/*购物车页面*/
.lt_amount{
    position: fixed;
    left: 0;
    bottom:55px;
    background: #fff;
    border-top:1px solid #ccc;
    width: 100%;
    height: 30px;
    line-height: 29px;
}
.lt_amount .trade{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: #ff3300;
    width: 100px;
    text-align: center;
    font-size: 14px;
}
.lt_amount .amount{
    color: #ff3300;
    font-weight: bold;
    font-size: 14px;
    padding-left:10px;
}
.lt_container .lt_body.cart{
    padding-bottom:85px;
}
#cartList .name{
    color: #333;
}
#cartList .price .now{
    color: #ff3300;
}
#cartList .price .old{
    color: #ccc;
    text-decoration: line-through;
}
#cartList .price .num{
    float: right;
    font-size: 12px;
}
#cartList .mui-navigate-right:after{
    right: -5px;
}
#cartList.mui-table-view .mui-media-object.mui-pull-left{
    width: 60px;
    max-width: 60px;
    height: 60px;
}
#cartList li{
    padding: 10px;
}
#cartList li .mui-slider-handle a{
    display: block;
    padding-right:10px;
    position: relative;
}
#cartList li .mui-slider-handle a [type="checkbox"]{
    position: absolute;
    left: 3px;
    bottom: 3px;
}
.cart_update{
    text-align: left;
}

/*注册页面*/
.lt_info{
    padding: 10px;
    font-size: 12px;
}
.lt_info a{
    float: right;
    font-size: 12px;
}
.lt_info span{
    vertical-align: middle;
}
.lt_info input{
    vertical-align: middle;
}
.mui-input-row .mui-btn.btn-getCode{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.mui-input-row .mui-btn.btn-getCode.disable{
    background: #ccc;
    border-color: #ccc;
}
.mui-input-row.code .mui-icon-clear{
    right: 140px;
}
